
*, *::before, *::after { 
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif; 
    direction: rtl;
    text-align: right;
    line-height: 1.6;
    color: #174675; 
    background-color: #f8f9fa; 
    overflow-x: hidden; 
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 400; 
    line-height: 1.2;
    margin-bottom: 1rem; 
}

h1 {
    font-size: 2.5rem; 
    position: absolute;
    top: 30%;
    right: 10%;    
}

h2 {
    font-size: 2rem;
}

p {
    margin-bottom: 1rem; 
}


header {
    background-color: #102e4a;
    color: #fff;
    padding: 1.5rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }

header h1 {
    margin: 0;
    font-size: 2.2rem;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1.5rem; 
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid transparent; 
}

nav ul li a:hover {
    color: #ffc107;
    border-bottom-color: #ffc107; 
}


main {
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    color: #343a40;
    font-weight: 600;
    display: block;
    margin-bottom: 0.5rem;
}

input, textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

textarea {
    resize: vertical;
    min-height: 120px;
}

button {
    background-color: #03519e;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffc107; 
}




.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* تعيين الارتفاع بنسبة للعرض الكامل للشاشة */
}

.slider {
    width: 800px; 
    height: 400px; 
    overflow: hidden;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease;
}

.slide.active {
    opacity: 1;
}
.books-gallery {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    text-align: center;
}

.books-gallery h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #343a40;
}

.books {
    display: inline-block;
    width: 30%;
    margin: 0 1%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.books img {
    max-width: 100%;
    border-radius: 8px;
}

.books h3 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #343a40;
}

.books p {
    font-size: 1em;
    color: #555;
}

.books a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #03519e;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.books a:hover {
    background-color: #ffc107;
    transform: scale(1.05);
}

.books:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #102e4a;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 1rem 1.5rem;
    text-align: center;
}

table th {
    background-color: #102e4a;
    color: #fff;
    text-transform: uppercase;
}

table td {
    background-color: #f8f9fa;
    color: #102e4a;
    border-top: 1px solid #dee2e6;
}

table tr:hover td {
    background-color: #e9ecef;
    transition: background-color 0.3s ease;
}







 .captcha {
    margin:15px 0px;
  }
  .captcha  {
    color:#555;
    width:100%;
    text-align:center;
    height:40px;
    line-height:40px;
    letter-spacing:8px;
    border:1px dashed #888;
    border-radius: 4px;
    font-family:"monospace";
  }
   .captcha .preview span {
    display:inline-block;
    user-select:none;
  }
 .captcha .captcha-form {
    display:flex;
  }
.captcha .captcha-form input {
    width:100%;
    outline: none;
    padding:8px;
    border-radius: 4px;
    border:1px solid #888;
  }
   .captcha .captcha-form .captcha-refresh {
    width:40px;
    border:none;
    outline:none;
    background:#888;
    border-radius: 4px;
    color:#eee;
    cursor:pointer;
  }
  #send {
    margin-top:5px;
    width:100%;
    padding:12px;
    border:none;
    outline:none;
    font-size:15px;
    text-transform:uppercase;
    background:#4c81ff;
    border-radius: 5px;
    color:#fff;
    transition: .3s;
    cursor:pointer;
  }
  #send:hover{
    opacity: .8;
  }